.books {
  display: flex;
  position: absolute;
  z-index: 4;
  bottom: 250px;
  flex-direction: column;
  align-items: flex-end;
}
.books span {
  background-color: rgb(177, 177, 9);
}
.books img {
  max-width: 60px;
}
.back-book {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  width: max-content;
  text-align: right;
  border: 2px solid rgb(61, 49, 49);
  transition: border 0.5s linear;
}
.back-book:hover {
  border: 2px solid white;
}
.book {
  font-size: 12px;
}
.books-text {
  background-color: rgb(61, 49, 49);
  color: white;
  border: 2px solid white;
  padding: 20px;
  max-width: 350px;
  bottom: 20px;
  text-align: left;
  > p {
    cursor: pointer;
    border-bottom: 2px solid rgb(61, 49, 49);
  }
  > p:hover {
    border-bottom: 2px solid white;
  }
}

.close {
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(61, 49, 49);
  color: white;
  width: 24px;
  margin-right: -25px;
  height: 24px;
  border-radius: 25px;
  border: 2px solid white;
  margin-bottom: 5px;
}
.close:hover {
  background-color: rgb(90, 75, 75);
}
