/* Scene.css */
.scene h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.scene h2 {
  color: #555;
  margin-top: 20px;
}

.scene p {
  color: #777;
  margin-bottom: 10px;
}

.scene label {
  display: block;
  margin: 10px 0;
}

.scene input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scene input[type="radio"] {
  margin-right: 5px;
}

.scene button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 45%;
}

.scene button[type="submit"]:hover {
  background-color: #0056b3;
}
